<div class="container-fluid" [formGroup]="projectForm">
  <app-page-title [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div *ngIf="project" class="row">
    <div class="col-12">
      <div class="mb-2 mx-4">
        <h5 class="font-size-15 mt-4">Detalle de proyecto</h5>
        <p class="mb-1">{{project.name}}</p>
        <app-project-status [status]="project.status"></app-project-status>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Datos del proyecto</h4>

          <div class="row">
            <div class="col-12">
              <h6>Descripción de la alternativa</h6>
              <app-more-text [text]="project.description"></app-more-text>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Orden prelación</h6>
              <p>{{project.priority | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Código unico de invers6ón</h6>
              <p>{{project.uniqueInvestmentCode | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Entidad</h6>
              <p>{{project.financialUnit.organization.name | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Costo Actualizado</h6>
              <p>{{project.updatedAmount | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Monto Viable</h6>
              <p>{{project.viableAmount | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Nivel de viabilidad</h6>
              <p>{{project.feasibilityLevel?.name | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Ultimo estudio</h6>
              <p>{{project.lastStudy.name | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Unidad UF</h6>
              <p>{{project.financialUnit.name | emptyText}}<p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Especialidad</h6>
              <p>{{project.speciality.name | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Región</h6>
              <p>{{project.office.region.name | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Zonal</h6>
              <p>{{project.office.name | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Departamento</h6>
              <p>{{project.district.province.department.name | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Provincia</h6>
              <p>{{project.district.province.name | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Distrito</h6>
              <p>{{project.district.name | emptyText}}</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h6>Fecha viabilidad</h6>
              <p>{{project.feasibilityDate|date | emptyText}}</p>
            </div>
          </div>

          <h4 class="card-title mb-4">Datos del proyecto en campo</h4>

          <div class="row">
            <div class="col-sm-12 col-md-6" *ngFor="let question of questions">
              <app-project-question [responsesForm]="responsesForm" [editable]="editable" [question]="question"></app-project-question>
            </div>
          </div>


          <div class="d-flex gap-2">
            <button type="button" id="save-button" [disabled]="!editable" class="btn w-md" [class.btn-outline-primary]="editable" [class.btn-outline-secondary]="!editable" (click)="save()">Guardar</button>
            <button type="button" id="send-button" [disabled]="!editable" class="btn w-md" [class.btn-primary]="editable" [class.btn-secondary]="!editable">Enviar</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
