<div class="container-fluid p-0" style="background-color: #ffffff !important;">
  <div class="row g-0">

    <div class="col-xl-9 d-none d-md-block">
      <div class="auth-full-bg pt-lg-5 p-4">
        <div class="w-100">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="col-xl-3">
      <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="d-flex justify-content-center">
          <div class="col-12 col-md-12 col-lg-6 col-xl-12">
            <div class="card overflow-hidden">
                <div class="col-12 d-flex justify-content-center pt-3">
                  <div class="col-7">
                    <div class="text-primary p-4">
                      <img src="../../../../assets/images/kukla.svg" class="img-fluid" alt="Kukla">
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0 mt-4">
                <div class="p-2">
                  <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</alert>

                    <div class="mb-3">
                      <label for="email">Usuario</label>
                      <input type="email" formControlName="email" class="form-control" id="email"
                        placeholder="Ingrese usuario" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email es requerido</div>
                        <div *ngIf="f.email.errors.email">Email ingresado en invalido</div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="password">Contraseña</label>
                      <div class="input-group auth-pass-inputgroup">
                        <input [type]="showPassword ? 'text' : 'password'"  class="form-control" formControlName="password" placeholder="Ingrese contraseña"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" aria-label="Password"
                          aria-describedby="password-addon">
      
                        <button class="btn btn-light ms-0" type="button" id="password-addon" (click)="togglePasswordVisibility()"><i
                            class="mdi mdi-eye-outline"></i></button>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <span *ngIf="f.password.errors.required">La contraseña es requerido</span>
                        </div>
                      </div>
                    </div>

                    <div class="mt-1 d-grid">
                      <button class="btn btn-primary mb-3" [ngClass]="{ 'btn-disabled': !loginForm.valid }" [disabled]="!loginForm.valid" type="submit">Iniciar Sesión</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>