:host {
  .text-wrapper {
    position: relative;

    .hide-text {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .show-mode-button {
      background-color: #fff;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0;
      padding-left: 1rem;
    }
  }
}
