.icon {
    // font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  /* Efecto de zoom al pasar el cursor sobre los iconos */
  .icon:hover {
    transform: scale(1.3);
  }
  .table{
    background-color: none !important;
  }
  .table-light_{
    background-color: #ec111a !important;
    color: white;
  }

  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0px;
    pointer-events: none;
}