<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class>
            <div class="table-responsive">
              <table
                class="table align-middle nowrap w-100"
                id="projectList-table"
              >
                <thead class="table-light">
                  <tr>
                    <th
                      scope="col"
                      sortable="project.name"
                      (sort)="onSort($event)"
                    >
                      Proyecto
                    </th>
                    <th
                      scope="col"
                      sortable="status.description"
                      (sort)="onSort($event)"
                    >
                      Estado
                    </th>
                    <th
                      scope="col"
                      sortable="region.name"
                      (sort)="onSort($event)"
                    >
                      Región
                    </th>
                    <th
                      scope="col"
                      sortable="department.name"
                      (sort)="onSort($event)"
                    >
                      Departamento
                    </th>
                    <th
                      scope="col"
                      sortable="province.name"
                      (sort)="onSort($event)"
                    >
                      Provincia
                    </th>
                    <th
                      scope="col"
                      sortable="project.viableAmount"
                      (sort)="onSort($event)"
                    >
                      Monto Inversión
                    </th>
                    <th
                      scope="col"
                      sortable="project_assignment.createdAt"
                      (sort)="onSort($event)"
                    >
                      Fecha Asignación
                    </th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projects">
                    <td>
                      <span class="col-sm-9">{{ project.name }}</span>
                    </td>
                    <td>
                      <span
                        class="badge"
                        [class.badge-soft-warning]="
                          project.status.code === projectStatusCode.Unassigned
                        "
                        [class.badge-soft-danger]="
                          project.status.code ===
                            projectStatusCode.InProgress ||
                          project.status.code === projectStatusCode.Observed
                        "
                        [class.badge-soft-dark]="
                          project.status.code === projectStatusCode.Assigned
                        "
                        [class.badge-soft-info]="
                          project.status.code === projectStatusCode.Sended
                        "
                        [class.badge-soft-success]="
                          project.status.code === projectStatusCode.Approved
                        "
                        >{{ project.status.description }}</span
                      >
                    </td>
                    <td>
                      <span class="text-nowrap">{{
                        project.office.region.name
                      }}</span>
                    </td>
                    <td>
                      <span class="text-nowrap">{{
                        project.district.province.department.name
                      }}</span>
                    </td>
                    <td>
                      <span class="text-nowrap">{{
                        project.district.province.name
                      }}</span>
                    </td>
                    <td>
                      <span class="text-nowrap">{{
                        project.viableAmount
                      }}</span>
                    </td>
                    <td>
                      <span class="text-nowrap">{{
                        project.projectAssignments[0]?.createdAt | date
                      }}</span>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary"
                        [disabled]="
                          project.status.code ===
                            projectStatusCode.InProgress ||
                          project.status.code === projectStatusCode.Observed
                        "
                      >
                        <span class="text-nowrap">Ver Detalle</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <app-paginator
              [(page)]="this.page"
              (changePage)="changePage($event)"
              [pageSize]="pageSize"
              [totalItems]="totalItems"
              [totalPages]="totalPages"
            ></app-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
