<div class="container-fluid">
  <app-page-title title="Projects List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm">
              <div class="search-box me-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" autocomplete="off" id="searchTableList" placeholder="Search...">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-sm-auto">
              <div class="text-sm-end">
                <a routerLink="/projects/create" class="btn btn-success btn-rounded" id="addProject-btn"><i class="mdi mdi-plus me-1"></i> Add New Project</a>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
          <div class>
            <div class="table-responsive">
              <table class="table project-list-table align-middle table-nowrap dt-responsive nowrap w-100 table-borderless" id="projectList-table">
                <thead class="table-light">
                  <tr>
                    <th scope="col">Proyecto</th>
                    <th scope="col" style="width: 100px">Estado</th>
                    <th scope="col" style="width: 100px">Región</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projects">
                    <td>
                      <p class="text-truncate font-size-14">{{project.name}}</p>
                    </td>
                    <td>
                      <p>{{project.status.description}}</p>
                    </td>
                    <td>
                      <p>{{project.office.region.name}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
      <div class="row">
        <div class="col-lg-12">
          <ul class="pagination pagination-rounded justify-content-center mt-2 mb-5">
            <pagination [totalItems]="totalItems" [(ngModel)]="page" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
            (pageChanged)="changePage($event)">
            </pagination>
          </ul>
        </div>
      </div>
      <!-- end row -->

    </div>